* {
    box-sizing: border-box;
   
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.header {
display: block;
height: 100px;
width: 100%;
background-image: url(https://previews.123rf.com/images/mrnvb/mrnvb1809/mrnvb180900017/107361560-seamless-floral-border-with-beautiful-garden-flowers-hand-drawn-pattern-on-white-background-design-e.jpg?fj=1);
background-size: cover;
background-position: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header:hover {box-shadow: 0px 0px 20px darkgreen;}

.header h1 {
display: inline-block;
padding: 20px;
font-size: 30px;
}

.header nav {
padding-top: 20px;
margin-right: 20px;
float: right;
font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(0, 0, 0);
    font: bolder;
    font-size: 20px;
    text-decoration: none;
}

main {
    display: block;
    padding: 10px; 
    background-color: whitesmoke;
    color: black;

}

.selfie {
    margin-left: 100px;
    width: 20%;
    height: 40%;
    display: inline-block;
}

#round {
    border-radius: 25px;
}

.selfie:hover {box-shadow: 10px 10px 10px 10px rgb(210, 85, 106); }

.float-left{
    float: left;
    margin: 25px;
}

.float-right {
    float: right;
    margin: 50px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.float-right:hover{ box-shadow: 0px 0px 10px pink;}

.works img {
display: flex;
flex-direction: row;
justify-content: center;

}

.content .works {
 display: block;
 padding: 20px;
 margin: 20px;
background-color: white;
}

/* i want to center everything. This centers education, contact and personal but not works */
/* div {
    display: flex;
    justify-content: center;
} */
/* makes shadow when hovered */
.content .works img:hover { box-shadow: 0px 0px 10px black; 
}

 .project {
    display: inline;
    width: 100%;
    height: 20rem;
}

.project-infomation {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    float: right;
} 

.column {
    float: left;
    width: 30rem;
    /* padding: 10px; */
    margin: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.line {
    display: inline;
    float: left;
    width: 33.33%;
    padding: 10px; 
    margin: 20px;
  }

.cats::after {
    content: "";
    clear: both;
    display: table;
  }

figure img {
   display: inline; 
   width: 150px;
    height: 200px;
    /* float: inline-start; */
    /* padding: 10px; 
     margin-left: 100px;
    margin-right: 10px; 

figcaption {
    display: inline-block;
    width: 600px;
}

.div1 {
    display: flex;
    flex-direction: column;
}

.div2 {
    display: flex;   
}

.education {
    padding: 10px;
    margin-left: 60px;
    background-color: rgb(108, 209, 108);
    border-radius: 20px;
    max-width: 500px;
}

.education:hover{ box-shadow: 0px 0px 10px grey;}

.education strong { 
font-size: 20px;
}

.education li {
    margin-left: 20px;
}

.contact {
    padding: 10px;
    margin-left: 100px;
    width: 500px;
    height: 215px;
    background-color: rgb(108, 209, 108);
    border-radius: 20px;
    max-width: 100%;

}

.contact:hover{ box-shadow: 0px 0px 10px grey;}

/* div .personal {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
} */


h5 {
    font-size: 20px;
    color: black;
}
@media screen and (max-width: 768px) {
    main,
    nav {
        display: flex;
      flex-direction: column;
      font-size: smaller;
    }
  }
